DATABASE_URL="postgresql://usuario:senha@localhost:5432/nome_do_banco?schema=public"
JWT_SECRET=""
FRONTEND_PORT=4011
BACKEND_PORT=4012
FRONTEND_URL="http://localhost:4011"
NEXT_PUBLIC_API_URL="http://localhost:4012"
